
/*=================INDEX=================*/

@media only screen and (min-width: 1050px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
}


@media only screen and (max-width: 990px) and (min-width: 520px) {
	#restaurants-list li {
		width: 70%;
	}
}


@media only screen and (max-width: 519px) {
	.filter-options select {
		width: 80%;
	}

	#restaurants-list li {
		width: 100%;
	}
}

@media only screen and (max-width: 400px) {
	#restaurants-list .restaurant-img {
		min-height: 150px;
	}

	#restaurants-list li h1 {
		font-size: 10pt;
	}
}


/*===============RESTAURANT===============*/

@media only screen and (max-width: 730px) {
	.inside #map-container {
		/*width: 100%;*/
		/*height: 330px;*/
		padding-top: 7%;
		position: relative;
	}
	.inside #map{ 
		/*width: 100%;*/
		height: 330px;
		padding-top: 7%;
	}
	.inside header #breadcrumb, #reviews-container, #footer-restaurant, 
	#restaurant-container, .inside #map, .inside #map-container {
		width: 100%;
	}
	#restaurant-container {
		/*width: 100%;*/
		padding-top: 140px;
	}
	/*#reviews-container {
		width: 100%;
	}
	#footer-restaurant {
		width: 100%
	}*/
	#restaurant-name {
		text-align: center;
	}

}